<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
     xmlns:ui="http://java.sun.com/jsf/facelets"
     xmlns:f="http://java.sun.com/jsf/core"
     xmlns:h="http://java.sun.com/jsf/html"
     xmlns:a4j="http://richfaces.org/a4j"
     xmlns:rich="http://richfaces.org/rich">

<f:loadBundle basename="jsf.facelets.simple.messages" var="msg" />

<head>
	<link rel="stylesheet" type="text/css" href="#{resource['css:styles.css']}" />
	<title> <h:outputText value="#{msg['application.title']}" /> </title>
</head>
<body>
<h:form>
	<h:graphicImage value="#{resource['images:java_duke.gif']}" />
	<p>
		<h:outputText value="#{msg['greeting.1']}" />
		<h:outputText value=" " />
		<h:outputFormat value="#{msg['greeting.2']}">
			<f:param value="#{userNumberBean.minimum}" />
			<f:param value="#{userNumberBean.maximum}" />
		</h:outputFormat>
		<h:outputText value=" " />
		<h:outputText value="#{msg['greeting.3']}" />
	</p>

	<h:inputText id="userNo" value="#{userNumberBean.userNumber}">
		<f:validateLongRange minimum="#{userNumberBean.minimum}"
							maximum="#{userNumberBean.maximum}" />
	</h:inputText>

	<h:commandButton id="submit" value="#{msg['submit-button']}" action="numberresponse.xhtml" />
	<h:message showSummary="true"
				showDetail="false"
				style="color: red;
				font-family: Candara, 'Trebuchet MS', Arial, sans-serif;
				font-style: oblique;
				text-decoration: overline"
				id="errors1"
				for="userNo" />
</h:form>
</body>
</html>