<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
     xmlns:ui="http://java.sun.com/jsf/facelets"
     xmlns:f="http://java.sun.com/jsf/core"
     xmlns:h="http://java.sun.com/jsf/html"
     xmlns:a4j="http://richfaces.org/a4j"
     xmlns:rich="http://richfaces.org/rich">

<head>
	<title>Guess Number Facelets Application</title>
</head>
<body>
<h:form>
	<h:graphicImage value="#{resource['images:java_duke.gif']}" />
	<div style="width: 450px;">
	<h2>
		Hi, my name is Duke. I am thinking of a number from
		#{userNumberBean.minimum} to #{userNumberBean.maximum}.
		Can you guess what it is?
		<br />
		<h:inputText id="userNo" value="#{userNumberBean.userNumber}">
			<f:validateLongRange minimum="#{userNumberBean.minimum}"
								maximum="#{userNumberBean.maximum}"/>
		</h:inputText>

		<h:commandButton id="submit" value="Submit" action="numberresponse.xhtml" />
		<h:message showSummary="true"
					showDetail="false"
					style="color: red;
					font-family: 'New Century Schoolbook', serif;
					font-style: oblique;
					text-decoration: overline"
					id="errors1"
					for="userNo" />
	</h2>
	</div>
</h:form>
</body>
</html>