<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
     xmlns:ui="http://java.sun.com/jsf/facelets"
     xmlns:f="http://java.sun.com/jsf/core"
     xmlns:h="http://java.sun.com/jsf/html"
     xmlns:a4j="http://richfaces.org/a4j"
     xmlns:rich="http://richfaces.org/rich">

<head>
	<title>Guess Number Facelets Application</title>
</head>
<body>
<h:form>
	<h:graphicImage value="#{resource['images:java_duke.gif']}" />
	<h2>
		<h:outputText id="result" value="#{userNumberBean.response}" />
	</h2>

	<h:commandButton id="back" value="Back" action="./guessnumber.xhtml" />
</h:form>
</body>
</html>