<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
     xmlns:ui="http://java.sun.com/jsf/facelets"
     xmlns:f="http://java.sun.com/jsf/core"
     xmlns:h="http://java.sun.com/jsf/html"
     xmlns:a4j="http://richfaces.org/a4j"
     xmlns:rich="http://richfaces.org/rich">

<h:head>
	<title> Master the Boss: Facelets example </title>
</h:head>
<h:body>
	<ui:composition template="./template.xhtml">

		<ui:define name="content">
			<h:graphicImage value="#{resource['images:java_duke.gif']}" />
			<h:outputText value="Hello #{helloBean.name}" />
		</ui:define>

	</ui:composition>
</h:body>

</html>
