<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:f="http://java.sun.com/jsf/core">

<h:head>
	<link rel="stylesheet" type="text/css" href="css/styles.css" />
	<title>Guess Number Facelets Application</title>
</h:head>
<h:body>
<h:form>
	<h:graphicImage value="#{resource['images:duke-waves.png']}" />
	<h2>
		Hi, my name is Duke. I am thinking of a number from
		#{userNumber.minimum} to #{userNumber.maximum}.
		Can you guess it?

		<br />

		<h:inputText id="userNo" value="#{userNumber.userNumber}">
			<f:validateLongRange
					minimum="#{userNumber.minimum}"
					maximum="#{userNumber.maximum}" />
		</h:inputText>

		<h:commandButton id="submit" value="Submit" action="facelet-stuff/response.xhtml" />
		<h:message showSummary="true"
					showDetail="false"
					style="color: red;
					font-style: oblique;
					text-decoration: overline"
					id="errors1"
					for="userNo"/>
	</h2>
</h:form>
</h:body>
</html>