<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html">

<h:head>
	<link rel="stylesheet" type="text/css" href="css/styles.css" />
	<title>Guess Number Facelets Application</title>
</h:head>
<h:body>
<h:form>

	<h:graphicImage value="#{resource['images:duke-waves.png']}"/>
	<h2>
		<h:outputText id="result" value="#{userNumber.response}"/>
	</h2>
	<h:commandButton id="back" value="Back" action="facelet-stuff/greeting.xhtml"/>

</h:form>
</h:body>
</html>